@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Grey-200: hsl(0, 0%, 85%);
  --ff-alata: "Alata", sans-serif;
  --ff-josefin: "Josefin Sans", sans-serif;
}
ul {
  list-style: none;
}
body {
  min-height: 100vh;
  font-size: 15px;
  overflow-x: hidden;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 100px;
}
header {
  background-image: url(assets/desktop/Image20250607145109.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 36rem;
  padding-bottom: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 0;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--ff-alata);
  font-weight: 400;
}
#hamburger-icon-container {
  display: none;
}
nav ul li {
  position: relative;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0.25rem 0;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--White);
  transition: width 0.3s ease;
}
nav ul li:hover::after {
  width: 50%;
}
#immersive {
  margin: 60px 0;
  width: 80%;
}
#immersive h1 {
  color: var(--White);
  padding: 1rem 2rem;
  font-size: 3.3rem;
  border: 3px solid var(--White);
  word-wrap: break-word;
  width: 50%;
  font-family: var(--ff-josefin);
  font-weight: 300;
}
/* main */

#interactive-mobile {
  display: none;
}
#interactive-desktop {
  min-height: 100%;
}

main {
  padding: 100px 0;
}
#section-1 {
  position: relative;
  /* border: 1px solid purple; */
}
#text-div {
  position: absolute;
  background-color: var(--White);
  /* border: 1px solid red; */
  max-width: 50%;
  height: 300px;
  left: 650px;
  bottom: 4px;
  padding: 20px 60px 10px 60px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#text-div h1 {
  font-family: var(--ff-josefin);
  font-weight: 300;
  font-size: 3rem;
}

#text-div p {
  font-family: var(--ff-alata);
  font-weight: 400;
  /* font-size: 1rem; */
  padding-top: 30px;
  color: rgb(165, 165, 165);
  line-height: 2;
}
/* section 2 */
#section-2 {
  padding-top: 140px;
}
#div-for-creations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#div-for-creations h1 {
  font-family: var(--ff-josefin);
  font-weight: 300;
  font-size: 2.2rem;
}
#div-for-creations button {
  border: 2px solid black;
  padding: 10px 50px;
  font-family: var(--ff-alata);
  font-weight: 300;
  letter-spacing: 4px;
}
#div-for-creations #desktop-btn:hover {
  cursor: pointer;
  background-color: var(--Black);
  color: var(--White);
}
/* Grid layout */
#creations-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 60px 0;
}
.creation-card {
  height: 500px;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  text-transform: uppercase;
  font-family: var(--ff-alata);
  font-weight: 400;
  transition: transform 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
}
.creation-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  opacity: 50%;
  color: var(--Black);
}
.creation-card p {
  max-width: 60%;
  font-size: 1.8rem;
  color: var(--White);
  padding-left: 30px;
}

#deep-earth {
  background-image: url(assets/desktop/Image20250607145119.jpg);
}
#night-arcade {
  background-image: url(assets/desktop/Image20250607145126.jpg);
}
#soccer-team-vr {
  background-image: url(assets/desktop/Image20250607145117.jpg);
}
#the-grid {
  background-image: url(assets/desktop/Image20250607145124.jpg);
}
  #above-vr {
    background-image: url(assets/desktop/Image20250607145111.jpg);
  }
  #above-vr p{
    font-size: 1.5rem;
  }
  #pocket-borealis {
    background-image: url(assets/desktop/Image20250607145121.jpg);
  }
  #the-curiosity {
    background-image: url(assets/desktop/Image20250607145132.jpg);
  }
  #fisheye {
    background-image: url(assets/desktop/Image20250607145129.jpg);
  }
  #mobile-btn{
    display: none;
  }
footer{
  background-color: var(--Black);
  display: flex;
  margin: 0 auto;

}
#nav-2{
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  padding: 60px 0;
}
#nav-2 img{
  padding-bottom: 1.5rem;
}
#footer-div-2{
  display: flex;
  flex-direction: column;

    padding-top: 4rem;
}
#footer-div-2 p{
  color: var(--Grey-200);
}
#footer-div-2 img{
  padding-bottom: 1.5rem;
}
.footer-wrapper {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
#footer-div-2 img{
  padding-left: 1rem;
}
footer #footer-div-2{
  align-items: end;
  margin-left: 31rem;
}
@media (max-width: 700px) {
  .container {
    max-width: 1100px;
    padding: 0 18px;
  }
  header {
    background-image: url(assets/mobile/Image20250607144958.jpg);
    min-height: 30rem;
  }
  nav ul {
    display: none;
  }
  #hamburger-icon-container {
    display: block;
    width: 10%;
  }
  #hamburger-icon-container img {
    width: 100%;
  }
  #immersive {
    width: 100%;
  }

  #immersive h1 {
    width: 100%;
    font-size: 2.5rem;
  }
  /* main */
  #interactive-desktop {
    display: none;
  }
  #interactive-mobile {
    display: block;
    max-width: 100%;
  }
  #text-div {
    position: static;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }
  #text-div h1 {
    font-weight: 300;
    font-size: 2.4rem;
  }
  #text-div p {
    font-weight: 400;
    padding-top: 20px;
    line-height: 1.6;
  }
  /* section 2 */
  #section-2 {
    padding-top: 60px;
  }
  #div-for-creations {
    justify-content: center;
  }
  /* Grid Layout */
  #creations-div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  #desktop-btn {
    display: none;
  }
  /*  */
  .creation-card {
    height: 120px;
  }
  #deep-earth {
    background-image: url(assets/mobile/Image20250607144945.jpg);
  }
  #night-arcade {
    background-image: url(assets/mobile/Image20250607144951.jpg);
  }
  #soccer-team-vr {
    background-image: url(assets/mobile/Image20250607144938.jpg);
  }
  #the-grid {
    background-image: url(assets/mobile/Image20250607144934.jpg);
  }
  #above-vr {
    background-image: url(assets/mobile/Image20250607144956.jpg);
  }
  #above-vr p{
    font-size: 1.3rem;
  }
  #pocket-borealis {
    background-image: url(assets/mobile/Image20250607144943.jpg);
  }
  #the-curiosity {
    background-image: url(assets/mobile/Image20250607144936.jpg);
  }
  #fisheye {
    background-image: url(assets/mobile/Image20250607144940.jpg);
  }
  .creation-card:hover {
    transform: none;
    color: var(--White);
    cursor: none;
  }
  .creation-card p {
    max-width: 31%;
    font-size: 1.5rem;
    padding-left: 0;
  }
  #desktop-btn{
    display: none;
  }
  #mobile-btn{
    display: block;
  }

}