@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Grey-200: hsl(0, 0%, 85%);
  --ff-alata: "Alata", sans-serif;
  --ff-josefin: "Josefin Sans", sans-serif;
}
ul{
  list-style: none;
}
body{
  min-height: 100vh;
  font-size: 15px;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 100px;
}
header{
  background-image: url(assets/desktop/Image20250607145109.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 36rem;
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 60px 0;
}
nav ul{
  display: flex;
  align-items: center;
  gap: 40px;
  color: var(--ff-alata);
  font-weight: 400;
}
#hamburger-icon-container{
  display: none;
}
nav ul li{
  position: relative;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0.25rem 0;
}
nav ul li::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--White);
    transition: width 0.3s ease;
}
nav ul li:hover::after{
  width: 50%;
}
#immersive{
  margin: 60px 0;
  width: 80%;
}
#immersive h1{
  color: var(--White);
  padding: 1rem 2rem;
  font-size: 3.3rem;
  border: 3px solid var(--White);
  word-wrap: break-word;
  width: 50%;
  font-family: var(--ff-josefin);
  font-weight: 300;
}
/* main */
#interactive-mobile{
  display: none;
}

main{
  padding: 100px 0;
}
#section-1{
display: flex;
position: relative;
/* border: 10px solid purple; */
}
#section-1 div:first-child{
  /* border: 2px solid red; */
flex: 2;
max-width: 60%;
}
#section-1 div:last-child img{
width: 100%;
height: 100%;
}
#section-1 div:last-child{
  background-color: var(--White);
  padding: 77px;
  flex: 1;
  position: absolute;
  top: 260px;
  right: 250px;
  max-width: 40%;
}




@media (max-width:700px){
.container{
  max-width: 1100px;
  padding: 0 18px;
}
header{
  background-image: url(assets/mobile/Image20250607144958.jpg);
  min-height: 30rem;
}
nav ul{
  display: none;
}
#hamburger-icon-container{
  display: block;
  width: 10%;
}
#hamburger-icon-container img{
  width: 100%;
}
#immersive{
  width: 100%;
}

#immersive h1{
  width: 100%;
  font-size: 2.5rem;
}
/* main */
#interactive-desktop{
  display: none;
}
#interactive-mobile{
  display: block;
}
}
